<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Book</title>
    <link rel="stylesheet" href="../styles/output.css" />
  </head>
  <body class="max-w-[47em] py-2 bg-slate-950">
    <a href="/" class="valkyrie mb-8 mt-2 text-cyan-500 no-underline text-6xl capitalize block leading-[1em] hover:underline" title="Ridwan Yunus">Ridwan Yunus</a>

    <div class="flex space-x-6">
      <a href="https://openlibrary.org/isbn/<%= book[0].isbn %>" class="min-w-[135px] h-[187px]">
        <img src="<%=book[0].book_cover %>" alt="<%= book[0].title %>" class="object-cover w-full h-full" />
      </a>

      <div class="flex flex-col space-y-2 w-fit">
        <h3 class="text-4xl mb-4 text-cyan-600 valkyrie"><%= book[0].title %> - by <%= book[0].author%></h3>
        <p class="text-lg valkyrie text-slate-500">ISBN: <%= book[0].isbn %></p>
        <p class="text-lg valkyrie text-slate-500">Date read: <%= book[0].date_read %></p>
        <p class="text-lg valkyrie text-slate-500 *:text-slate-500">How strongly I recommend it: <strong>10</strong>/10</p>
      </div>
    </div>
    <p class="text-base *:text-xl mt-2 valkyrie">
      (See <strong><a href="/" class="text-orange hover:underline">my list of books</a></strong
      >, for more.)
    </p>
    <p class="text-xl *:text-xl my-6">
      Go to the <strong><a href="https://openlibrary.org/isbn/<%= book[0].isbn %>" class="text-orange hover:underline">Open library page</a></strong> for details and reviews.
    </p>

    <div>
      <!-- reviews -->
      <p class="text-xl mb-12 notes"><%= book[0].review %></p>

      <!-- my notes -->
      <h4 class="valkyrie text-3xl my-6 text-cyan-600">My notes</h4>
      <p class="text-xl notes"><%- book[0].note %></p>
    </div>
  </body>
</html>
