<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Book Bridge: A simple application for storing and managing book notes using Supabase, PostgreSQL, and Express.js. Enhanced with EJS templating and Tailwind CSS for a seamless experience." />
    <link rel="stylesheet" href="../styles/output.css" />
    <link rel="shortcut icon" href="../images/book_generated.jpg" type="image/x-icon" />
    <title>Book Bridge</title>
  </head>
  <body class="max-w-[48em] bg-slate-950 min-h-screen">
    <a href="https://ridwanyinus.is-a.dev/" class="valkyrie mb-8 mt-2 text-cyan-500 text-6xl capitalize block w-fit visited:text-visited hover:underline" title="Ridwan Yunus">Ridwan Yunus</a>
    <h2 class="heading-2 text-start text-5xl text-cyan-500 mb-8 valkyrie no-underline">Books I’ve read</h2>
    <p class="text-xl *:text-xl">
      Concise summaries with <span class="font-semibold">detailed notes for each</span>. Use the ISBN to locate them at your local library or other sources.
      <span class="font-semibold">This page will be regularly updated as I read more</span>—bookmark it to check back in a few months for new additions!
    </p>

    <p class="*:text-xl text-xl mt-6">
      Sorted with <span class="font-semibold">my top recommendations up top</span>. Sort by <a href="/?sort=title" class="text-orange">title</a>, <a href="/?sort=date" class="text-orange">latest</a>,
      or <a href="/?sort=rating" class="text-orange">best</a>.
    </p>
    <div class="bg-slate-50 opacity-50 w-full h-[1px] my-7 mb-10"></div>

    <div class="min-h-screen flex flex-col space-y-20">
      <% if(locals.book){%> <% for (let i = 0; i < book.length; i++) { %>

      <div class="mb-12">
        <section class="mb-12">
          <figure class="float-left mr-8">
            <a href="/book/<%= book[i].title %>">
              <img src="<%=book[i].book_cover %>" alt="<%= book[i].title %>" title="<%= book[i].title %>" class="w-[135px] h-[187px]" />
            </a>
          </figure>

          <h3 id="title" class="text-3xl mb-4 underline text-cyan-600 valkyrie">
            <a href="/book/<%= book[i].title %>" id="author" class="text-cyan-600 valkyrie visited:text-visited"><%= book[i].title %> - by <%= book[i].author %></a>
          </h3>
          <p class="text-base valkyrie text-slate-500 *:text-slate-500 my-6">Date read: <%= book[i].date_read %>. My level of recommendation for it: <strong><%= book[i].rating %></strong>/10</p>
          <p class="text-xl notes"><%= book[i].review %></p>
          <p class="text-xl mt-6">
            <a href="/book/<%= book[i].title %>" class="text-orange *:text-orange *:visited:text-visited_orange hover:underline"> <strong>Read my notes</strong> </a>, or go to the
            <a href="https://openlibrary.org/isbn/<%= book[i].isbn %>" class="text-orange visited:text-visited_orange hover:underline"> Open library page </a> for details and reviews.
          </p>
        </section>
      </div>
      <% } %> <%}%>
    </div>
  </body>
</html>
